body{
    font-family: "Plus Jakarta Sans";
    font-size: 100%;
}

h1{
    color: #13183F;
    font-weight: 800;
    font-size: 40px;
}

p{
    color: #83869A;
    line-height: 26px;
}

